    <!-- Navigation -->

    <header class="masthead">

      <div class="container h-100 background">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5 text-uppercase">LEO</h1>
              <h2>Focus on what matters.</h2>
              <p>LEO is your life engine optimisation system. Spend time on what matters, and and drop the clutter.</p>
              <a class="btn btn-outline btn-xl js-scroll-trigger">Sign Up For Free</a>
              <a class="btn btn-outline btn-secondary btn-xl js-scroll-trigger">Login</a>
            </div>
          </div>
     
      </div>
    </div>
  </header>